@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@700&family=Lato:ital,wght@0,300;0,400;0,600;0,700;1,400&family=Roboto+Slab:wght@0,300;0,400;&display=swap');

.home {
    background-color: #f7fff7;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
}

/** header **/

.login-menu ul {
    display: flex;
    gap: 3rem;
    list-style-type: none;
    padding-right: 20px;
}

.login-menu a {
    display: block;
    width: 20rem;
    text-align: center;
}

.login-btn {
    background-color: #4ecdc4;
}

.register-btn {
    background-color: #d258a3;
}

/** Club **/
.club-section {
    height: 80vh;
    width: 80%;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    gap: 20%;
   align-items: center;
}

.club-image img {
    height: 900px;
}

.club-details h1 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    color: #D258A3;
    font-size: 4.5rem;
    }

.club-details h2 {
    color: #0a6a78;
    font-weight: 400;
    font-style: italic;
    font-size: 4rem;
    font-weight: 400;
}

.club-details a {
    font-weight: 600;
    background-color: #ffe66d;
}

/** buttons and links **/

.btn {
    color: black;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
    font-size: 2rem;
    letter-spacing: .05em;
    text-decoration: none;
    text-align: center;
    border-radius: 2.5rem;
    padding: 0.75rem 2rem;
}
