{% extends 'base.html' %}
{% block content %} 
<body class="home">
    <header>
        <nav class="login-menu">
            <ul>
                <li>
                    <a href="#" class="btn login-btn">Login</a>
                </li>
                <li>
                    <a href="#" class="btn register-btn">Register</a>
                </li>
            </ul>
        </nav>
    </header>
    <section class="hero-image">
        <div id="club-image" aria-label="displays image of patient in phone"></div>
        <div class="club">
            <h1>Breast Cancer Club</h1>
            <h2>Let's Meet Up?</h2>
            <a href="#" class="btn">View Events</a>
        </div>
    </section>
</body>
{% endblock %}